# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Node
frontend/node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archive (keep tracked but ignore large audio files)
_archive/*.wav
_archive/*.ogg
_archive/*.mp3
_archive/*.png

# Autre

CLAUDE.md 
CONTEXT.md
TECH-Les devices pour les nuls-190326-125749.pdf
docs
.claude